/*Filename: Assign02.css
Authors Name: Venkata Kodithala
Student ID: 300920874
Creation Date: 2016-11-01*/

.TitleStyle {
    font-size:80px;
    color:blue;
    font-style:oblique;
    font-variant-position:super;
}

.SurveyTitle {
    font-size:50px;
    color:firebrick;
    font-family:'Courier New';
}

.ThankYouTitle {
    font-size:50px;
    color:firebrick;
    font-family:'Courier New';
}

.SurveyImage {
    padding-top:30px;
    font-size:medium;
   }

.SurveyText {
    padding-top: 21px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    color:black;
}   

.NameTextBox {
    margin-bottom:20px;
   }
.EmailTextBox{
   margin-bottom:20px;
}
.PhoneNumberTxt{
    margin-bottom:20px;
}
.SubmitButton{
    margin-top:20px;
    
}